{{#section 'head'}}
  <link rel=stylesheet href=/styles/Projects.css>
{{/section}}

<main id=main class='main projects-page'>

  <h1 class=page-title>
    {{#if language }}
      {{mls language.name language.defaultAnalysisLanguage }}
    {{ else }}
      Projects
    {{/if}}
  </h1>

  {{#if language }}
    <nav class=page-nav>
      <ul>
        <li>
          <a href='/languages/{{ language.id }}'><svg aria-hidden=true><use href=#language></svg> Language</a>
        </li>
        <li>
          <a href='/languages/{{ language.id }}/lexemes'><svg aria-hidden=true><use href=#cards></svg> Lexicon</a>
        </li>
        <li aria-selected=true>
          <a href='/languages/{{ language.id }}/projects'><svg aria-hidden=true><use href=#box></svg> Projects</a>
        </li>
      </ul>
    </nav>
  {{/if}}

  <ul class='bordered nav-list projects-list'>
    {{#each projects as |project|}}
      <li class=project>
        <header class=project__header>

          <a class='link project__name' href='/projects/{{ id }}'>{{ name }}</a>

          {{#if permissions.public }}
            <svg aria-hidden=true class=icon>
              <title>public</title>
              <use href=#globe>
            </svg>
            <span class=visually-hidden>public</span>
          {{else}}
            <svg aria-hidden=true class=icon>
              <title>private</title>
              <use href=#lock>
            svg>
            <span class=visually-hidden>private</span>
          {{/if}}

          {{#with permissions }}
            {{#if isOwner }}
              <svg aria-hidden=true class=icon>
                <title>owner</title>
                <use href=#shield-with-check>
              </svg>
              <span class=visually-hidden>owner</span>
            {{else if isEditor }}
              <svg aria-hidden=true class=icon>
                <title>editor</title>
                <use href=#edit>
              </svg>
              <span class=visually-hidden>editor</span>
            {{else if isViewer }}
              <svg aria-hidden=true class=icon>
                <title>viewer</title>
                <use href=#eye>
              </svg>
              <span class=visually-hidden>viewer</span>
            {{else if @root.user }}
              <svg aria-hidden=true class=icon>
                <title>public</title>
                <use href=#globe>
              </svg>
              <span class=visually-hidden>public</span>
            {{/if}}
          {{/with}}

          <span class=date-created>Created {{date dateCreated 'long' }}</span>

        </header>
        <details>
          <summary>
            <header class=project__description-header>
              <span class=project__description-title>Description</span>
              <span class=project__read-more>(click to expand)</span>
              <span class=project__read-less>(click to collapse)</span>
            </header>
            <span class=project__description-preview>{{{ readme.markdown }}}</span>
          </summary>
          <div class=md>{{{ readme.html }}}</div>
        </details>
      </li>
    {{/each}}
  </ul>

</main>
