{{#section 'head'}}
  <link rel=stylesheet href=/styles/Projects.css>
{{/section}}

<main id=main class=projects-page>

  <h1 class=page-title>Projects</h1>

  <ul class='bordered nav-list projects-list'>
    {{#each projects as |project|}}
      <li>
        <header class=project__header>

          <a class='link project-name' href='https://data.digitallinguistics.io/projects/{{ id }}'>{{ name }}</a>

          {{#if permissions.public }}
            <svg class=icon><use href=#globe></svg>
          {{else}}
            <svg class=icon><use href=#lock></svg>
          {{/if}}

          <span class=date-created>Created {{date dateCreated 'long' }}</span>

        </header>
        <details>
          <summary>Description</summary>
          <div class=md>{{{ readme.html }}}</div>
        </details>
      </li>
    {{/each}}
  </ul>

</main>
