<table class=table>

  <caption>Languages: {{ project.name }}</caption>

  <thead>
    <tr>
      <th>Name</th>
      <th>Autonym</th>
      <th>ISO Code</th>
      <th>Glottocode</th>
      <th>Date Created</th>
      <th>Date Modified</th>
    </tr>
  </thead>

  <tbody>
    {{#each languages as |language|}}
      <tr>

        {{!-- name --}}
        <td>
          <a href='/languages/{{ id }}'>{{mls name defaultAnalysisLanguage }}</a>
        </td>

        {{!-- autonym --}}
        <td>{{txn autonym defaultOrthography }}</td>

        {{!-- abbreviation --}}
        <td>{{ abbreviation }}</td>

        {{!-- Glottocode --}}
        <td>{{ glottocode }}</td>

        {{!-- ISO --}}
        <td>{{ iso }}</td>

        {{!-- date created --}}
        <td class=date-created>{{date dateCreated }}</td>

        {{!-- date modified --}}
        <td class=date-modified>{{date dateModified }}</td>

      </tr>
    {{/each}}
  </tbody>

</table>