<table class='languages-table table'>

  <caption class=visually-hidden>{{ caption }}</caption>

  <thead>
    <tr>
      <th class=privacy title='privacy setting'>
        <svg aria-hidden=true><use href=#lock></svg>
        <span class=visually-hidden>Privacy</span>
      </th>
      <th class=permissions title='your permissions'>
        <svg aria-hidden=true><use href=#key></svg>
        <span class=visually-hidden>Permissions</span>
      </th>
      <th>Name</th>
      <th>Autonym</th>
      <th>Abbreviation</th>
      <th>Glottocode</th>
      <th>ISO Code</th>
      <th>Date Created</th>
      <th>Date Modified</th>
    </tr>
  </thead>

  <tbody>
    {{#each languages as |language|}}
      <tr>

        {{!-- privacy --}}
        {{#if permissions.public }}
          <td class=privacy title=public>
            <svg aria-hidden=true><use href=#globe></svg>
            <span class=visually-hidden>public</span>
          </td>
        {{else}}
          <td class=privacy title=private>
            <svg aria-hidden=true><use href=#lock></svg>
            <span class=visually-hidden>private</span>
          </td>
        {{/if}}

        {{!-- permissions --}}
        {{#with permissions }}
          {{#if isOwner }}
            <td class=permissions title=owner>
              <svg aria-hidden=true><use href=#shield-with-check></svg>
              <span class=visually-hidden>owner</span>
            </td>
          {{else if isEditor }}
            <td class=permissions title=editor>
              <svg aria-hidden=true><use href=#edit></svg>
              <span class=visually-hidden>editor</span>
            </td>
          {{else if isViewer }}
            <td class=permissions title=viewer>
              <svg aria-hidden=true><use href=#eye></svg>
              <span class=visually-hidden>viewer</span>
            </td>
          {{else if public }}
            <td class=permissions title=public>
              <svg aria-hidden=true><use href=#globe></svg>
              <span class=visually-hidden>public</span>
            </td>
          {{/if}}
        {{/with}}

        {{!-- name --}}
        <td>
          <a class=link href='/languages/{{ id }}'>{{mls name defaultAnalysisLanguage }}</a>
        </td>

        {{!-- autonym --}}
        <td class=autonym>
          {{~#if (obj autonym) ~}}
            <a class=link href='/languages/{{ id }}'>{{mot autonym defaultOrthography }}</a>
          {{~else~}}
            —
          {{~/if~}}
        </td>

        {{!-- abbreviation --}}
        <td class=abbreviation>{{ abbreviation }}</td>

        {{!-- Glottocode --}}
        <td class=glottocode>{{ glottocode }}</td>

        {{!-- ISO --}}
        <td class=iso>{{ iso }}</td>

        {{!-- date created --}}
        <td class=date-created>{{date dateCreated }}</td>

        {{!-- date modified --}}
        <td class=date-modified>{{date dateModified }}</td>

      </tr>
    {{/each}}
  </tbody>

</table>