{{#section 'head'}}
  <link rel=stylesheet href=/styles/Language.css>
{{/section}}

<main id=main class=language-page>
  {{#if language}}
    {{#with language}}

      <h1 class=page-title>{{mls name }}</h1>

      <section>

        <h2 class=section-header>Names</h2>

        <fieldset class='color-block names'>

          <div class=name>
            <label class=label>Scientific Name</label>
            {{> MultiLangString/MultiLangString name }}
          </div>

          <div class=name>
            <label class=label>Autonym</label>
            {{> Transcription/Transcription txn=autonym lang=iso }}
          </div>

        </fieldset>

      </section>

      <section>

        <h2 class=section-header>Metadata</h2>

        <fieldset class='color-block def-list metadata'>

          <label class=label for=url>URL:</label>
          <output class=box-input id=url>https://data.digitallinguistics.io/languages/{{ id }}</output>

          <label class=label for=date-created>Date Created:</label>
          <output id=date-created>{{date dateCreated }}</output>

          <label class=label for=date-modified>Date Modified:</label>
          <output id=date-modified>{{date dateModified }}</output>

        </fieldset>

      </section>

    {{/with}}
  {{else}}

    <p class=error-message>Either this language does not exist, you are not logged in, or you do not have permission to view
      it.</p>

  {{/if}}
</main>