{{#section 'head'}}
  <link rel=stylesheet href=/styles/Language.css>
{{/section}}

<main id=main class=language-page>
  {{#with language}}

    <h1 class=page-title>{{mls name }}</h1>

    <section>

      <h2 class=section-header>Names</h2>

      <fieldset class='color-block names'>

        <div class=name>
          <label class=label>Scientific Name</label>
          {{> MultiLangString/MultiLangString data=name }}
        </div>

        <div class=name>
          <label class=label>Autonym</label>
          {{#if autonym }}
            {{> MultiOrthoTranscription/MultiOrthoTranscription data=autonym lang=iso }}
          {{else}}
            <span class=mot>—</span>
          {{/if}}
        </div>

      </fieldset>

    </section>

    <section>

      <h2 class=section-header>Language Codes</h2>

      <dl class='codes color-block def-list'>

        <div>
          <dt class=label>Glottocode:</dt>
          <dd>
            {{#if glottocode }}
              <a class=link href='https://glottolog.org/resource/languoid/id/{{ glottocode }}'>{{ glottocode }}</a>
            {{else}}
              —
            {{/if}}
          </dd>
        </div>

        <div>
          <dt class=label>ISO 639-3 Code:</dt>
          <dd>
            {{#if iso}}
              <a class=link href='https://www.ethnologue.com/language/{{ iso }}'>{{ iso }}</a>
            {{else}}
              —
            {{/if}}
          </dd>
        </div>

        <div>
          <dt class=label>Abbreviation:</dt>
          <dd>
            {{#if abbreviation }}
              {{ abbreviation }}
            {{else}}
              —
            {{/if}}
          </dd>
        </div>

      </dl>

    </section>

    <section>

      <h2 class=section-header>Description</h2>

      <article class='color-block description md'>
      {{#if description.html }}
        {{{ description.html }}}
      {{else}}
        [No description provided.]
      {{/if}}
      </article>

    </section>

    <section>

      <h2 class=section-header>Metadata</h2>

      <fieldset class='color-block def-list metadata'>

        <label class=label for=url>URL:</label>
        <output class=box-input id=url>https://data.digitallinguistics.io/languages/{{ id }}</output>

        <label class=label for=date-created>Date Created:</label>
        <output id=date-created>{{#if dateCreated }}{{date dateCreated }}{{else}}—{{/if}}</output>

        <label class=label for=date-modified>Date Modified:</label>
        <output id=date-modified>{{#if dateModified }}{{date dateModified }}{{else}}—{{/if}}</output>

        <label class=label for=projects>Projects:</label>
        {{#if @root.projects }}
          <ul id=projects>
            {{#each @root.projects as |project| }}
              <li><a class=link href=/projects/{{ project.id }}>{{ project.name }}</a></li>
            {{/each}}
          </ul>
        {{else}}
          <span id=projects>—</span>
        {{/if}}

      </fieldset>

    </section>

    <section class=notes-section>

      <h2 class=section-header>Notes</h2>

      <input id=notes-toggle-checkbox type=checkbox hidden checked>

      <label class=notes-toggle for=notes-toggle-checkbox>
        <svg class=chevron-right>
          <use href=#chevron-right>
        </svg>
        <svg class=chevron-down>
          <use href=#chevron-down>
        </svg>
        <span class=label-text>Show / Hide Notes</span>
      </label>

      {{> Notes/Notes notes }}

    </section>

  {{/with}}
</main>