{{#section 'head'}}
  <link rel=stylesheet href=/styles/Lexeme.css>
{{/section}}

<main id=main class=lexeme-page>

  <header class=header>

    <h1 class='headword page-title' lang='{{ language.iso }}'>{{mot lexeme.lemma language.defaultOrthography }}</h1>

    <span class=language>
      {{~#if language.name ~}}
        <a class='link' href='/languages/{{ language.id }}'>{{mls language.name language.defaultAnalysisLanguage }}</a>
      {{~/if~}}
      {{~#if (all language.name language.autonym) }} | {{/if~}}
      {{~#if language.autonym ~}}
        <a class='link txn' href='/languages/{{ language.id }}'>{{mot language.autonym language.defaultOrthography }}</a>
      {{~/if~}}
    </span>

    <ol class='glosses numbered'>
      {{#each lexeme.senses as |sense| }}
        <li class='gloss tln'>{{mls sense.gloss }}</li>
      {{/each}}
    </ol>

  </header>

  <nav>
    <ul class=tabs role=tablist>
      <li role=tab class=tab><a class=tab-link id=forms-link href=#forms aria-selected=true>Forms</a></li>
      <li role=tab class=tab><a class=tab-link id=meaning-link href=#meaning>Meaning</a></li>
      <li role=tab class=tab><a class=tab-link id=metadata-link href=#metadata>Metadata</a></li>
    </ul>
  </nav>

  <section class='current panel' role=tabpanel id=forms aria-labelledby=forms-link>

    <dl class='def-list transcriptions'>

      <dt class=label for=lemma>Lemma</dt>
      <dd>{{> MultiOrthoTranscription/MultiOrthoTranscription data=lexeme.lemma lang=language.iso attributes='id=lemma' }}</dd>

      <dt class=label for=citation-form>Citation Form</dt>
      <dd>
        {{#if lexeme.citationForm}}
          {{> MultiOrthoTranscription/MultiOrthoTranscription data=lexeme.citationForm lang=language.iso attributes='id=citation-form' }}
        {{else}}
          <span id=citation-form>—</span>
        {{/if}}
      </dd>

    </dl>

    <dl class='def-list properties'>

      <dt class=label for=morph-type>Morph Type</dt>
      <dd id=morph-type>
        {{#if lexeme.morphType }}
          {{> MultiLangString/MultiLangString data=lexeme.morphType }}
        {{else~}}
          —
        {{~/if}}
      </dd>

      <dt class=label for=slot>Slot</dt>
      <dd id=slot>
        {{#if lexeme.slot }}
          {{> MultiLangString/MultiLangString data=lexeme.slot }}
        {{else~}}
          —
        {{~/if}}
      </dd>

    </dl>

    <section class=forms-section>

      <h2 class=section-header>Base Forms <span class=summary-count>({{ lexeme.forms.length }})</span></h2>

      <ul class='bordered forms-list list'>
        {{#each lexeme.forms as |form| }}
          <li class=form>
            <details class=details open>
              <summary>
                {{> MultiOrthoTranscription/MultiOrthoTranscription data=form.transcription lang=@root.language.iso attributes='class="mot transcription"' }}
              </summary>
              <p>These are some details about the form.</p>
            </details>
          </li>
        {{/each}}
      </ul>

    </section>

  </section>

  <section class=panel role=tabpanel id=meaning aria-labelledby=meaning-link>
    <h1>Meaning</h1>
  </section>

  <section class=panel role=tabpanel id=metadata aria-labelledby=metadata-link>

    <fieldset class='def-list metadata-props'>

      <label class=label for=cross-references>Cross References</label>
      {{#if lexeme.crossReferences}}
        <dl class=def-list id=cross-references>
          {{#each lexeme.crossReferences as |crossRef| }}

              {{#if (is crossRef.relationType 'open set') }}

                <dt>{{ crossRef.label }}:</dt>
                <dd><!--
                  --><ul class=cross-refs-set>
                    {{~#each members as |item| ~}}
                      {{~#unless (is item.id @root.lexeme.id) ~}}
                        <li><a class=headword href='/languages/{{ @root.language.id }}/lexemes/{{ item.id }}'>{{mot item.lemma @root.language.defaultOrthography }}</a>{{#unless @last }}, {{/unless}}</li>
                      {{~/unless~}}
                    {{~/each~}}
                  </ul><!--
                --></dd>

              {{else if (is crossRef.relationType 'enumerated set') }}

                {{#each members as |item| }}
                  {{#if item}}
                    {{#unless (is item.id @root.lexeme.id) }}
                      <dt>{{ @key }}:</dt>
                      <dd><a class=headword href='/languages/{{ @root.language.id }}/lexemes/{{ item.id }}'>{{mot item.lemma @root.language.defaultOrthography }}</a></dd>
                    {{/unless}}
                  {{/if}}
                {{/each}}

              {{else if (any (is crossRef.relationType 'unidirectional') (is crossRef.relationType 'bidirectional')) }}

                <dt>{{ crossRef.label }}:</dt>
                <dd><a class=headword href='/languages/{{ @root.language.id }}/lexemes/{{ crossRef.id }}'>{{mot crossRef.lemma @root.language.defaultOrthography }}</a></dd>

              {{/if}}

          {{/each}}
        </dl>
      {{else}}
        <span id=cross-references>—</span>
      {{/if}}

      <label class=label for=date-created>Date Created</label>
      <output id=date-created>{{date lexeme.dateCreated }}</output>

      <label class=label for=date-modified>Date Modified</label>
      <output id=date-modified>{{date lexeme.dateModified }}</output>

      <label class=label for=language-autonym>Language Autonym</label>
      {{#if (obj language.autonym)}}
        {{> MultiOrthoTranscription/MultiOrthoTranscription data=language.autonym attributes='id=language-autonym' }}
      {{else}}
        <span id=language-autonym>—</span>
      {{/if}}

      <label class=label for=language-name>Language Name</label>
      {{> MultiLangString/MultiLangString data=language.name attributes='id=language-name' }}

      <label class=label for=references>References</label>
      {{#if references}}
        <div id=references>

          <ul class=tags-list>
            {{#each references as |reference| }}
              {{!-- Keep the <li> and <a> on the same line to avoid extra whitespace in the rendered page. --}}
              <li class='citation tag' title='{{ reference.custom.bibEntry.text }}'><a href='/references/{{ reference.id }}'>{{ reference.custom.citation }}</a></li>
            {{/each}}
          </ul>

          <span class=bib-links>
            <a class='link subtle' href='/languages/{{ language.id }}/lexemes/{{ lexeme.id }}/references?view=bibliography'>View as Bibliography</a> | <a class='link subtle' href='/languages/{{ language.id }}/lexemes/{{ lexeme.id }}/references?view=table'>View as Table</a>
          </span>

        </div>
      {{else}}
        <span id=references>—</span>
      {{/if}}

      <label class=label for=sources>Sources</label>
      {{#if lexeme.sources ~}}
        <ul class=tags-list id=sources>
          {{~#each lexeme.sources as |source| ~}}
            <li class=tag><a href='/people/{{ source.id }}' title='{{ source.givenName }}{{#if (all source.givenName source.familyName) }} {{/if}}{{ source.familyName }}'>{{ source.abbreviation }}</a></li>
          {{~/each~}}
        </ul>
      {{~else~}}
        <span id=sources>—</span>
      {{~/if}}

      <label class=label for=tags>Tags</label>
      {{#if lexeme.tags}}
        <ul class=tags-list id=tags>
          {{#each lexeme.tags as |tag| }}
            <li class=tag>
              {{~#if (isNull this) ~}}
                {{ @key }}
              {{~else if (isFalse this) ~}}
                {{ @key }}: <span class=code>{{ this }}</span>
              {{~else~}}
                {{ @key }}: <span class=code>{{ this }}</span>
              {{~/if~}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span id=tags>—</span>
      {{/if}}

      <label class=label for=url>URL</label>
      <output class=box-input id=url>https://data.digitallinguistics.io/languages/{{ language.id }}/lexemes/{{ lexeme.id }}</output>

    </fieldset>

    <details class='details notes-section' {{#if lexeme.notes }}open{{/if}}>

      <summary>
        <h2 class=section-header>Notes <span class=summary-count>({{#if lexeme.notes }}{{ lexeme.notes.length }}{{else}}0{{/if}})</span></h2>
      </summary>

      <ul class=notes>
        {{#each lexeme.notes as |note| }}
          <li>{{> Note/Note note }}</li>
        {{/each}}
      </ul>

    </details>

  </section>

</main>

{{#section 'foot'}}
  <script src=/scripts/Lexeme.js async type=module></script>
{{/section}}