{{#section 'head'}}
  <link rel=stylesheet href=/styles/Lexeme.css>
{{/section}}

{{#*inline 'CitationsList' }}
  <ul class=tags-list>
    {{#each this }}
      {{!-- Keep the <li> and <a> on the same line to avoid extra whitespace in the rendered page. --}}
      <li class='citation tag' title='{{ bibEntry.text }}'><a href='/references/{{ id }}'>{{ citation }}</a></li>
    {{/each}}
  </ul>
{{/inline}}

{{#*inline 'CrossLanguageHeadword' ~}}
  <span class=lang-label title='{{mls language.name language.defaultAnalysisLanguage }}'>
    {{~#if language.abbreviation }}{{ language.abbreviation }}{{else}}{{mls language.name language.defaultAnalysisLanguage }}{{/if~}}
  </span>{{!--
  --}}: {{!-- Note: The space here is intentional.
  --}}<a class='headword {{#if abstract }}mp{{/if}}' href='/languages/{{ language.id }}/lexemes/{{ lexeme }}'>{{#if unattested }}*{{/if}}{{mot transcription language.defaultOrthography }}</a>
{{~/inline}}

{{#*inline 'CrossReference' }}
  {{#if (is relationType 'open set') }}

    <dt>{{ label }}:</dt>
    <dd>{{!--
      --}}<ul class=cross-refs-set>
        {{~#each members as |item| ~}}
          {{~#unless (is item.id @root.lexeme.id) ~}}
            <li>{{> Headword lemma }}{{#unless @last }}, {{/unless}}</li>
          {{~/unless~}}
        {{~/each~}}
      </ul>{{!--
    --}}</dd>

  {{else if (is relationType 'enumerated set') }}

    {{#each members as |item| }}
      {{#if item}}
        {{#unless (is item.id @root.lexeme.id) }}
          <dt>{{ @key }}:</dt>
          <dd>{{> Headword item.lemma }}</dd>
        {{/unless}}
      {{/if}}
    {{/each}}

  {{else if (any (is relationType 'unidirectional') (is relationType 'bidirectional')) }}

    <dt>{{ label }}:</dt>
    <dd>{{> Headword lemma }}</dd>

  {{/if}}
{{/inline}}

{{#*inline 'Headword' ~}}
  <a class='headword {{#if abstract }}mp{{/if}}' href='/languages/{{ @root.language.id }}/lexemes/{{ lexeme }}'>
    {{~#if unattested }}*{{/if~}}{{~ mot transcription @root.language.defaultOrthography ~}}
  </a>
{{~/inline}}

{{#*inline 'Source' ~}}
  <li class=tag><a href='/people/{{ id }}' title='{{ givenName }}{{#if (all givenName familyName) }} {{/if}}{{ familyName }}'>{{ abbreviation }}</a></li>
{{~/inline}}

<main id=main class=lexeme-page>

  <header class=header>

    <h1 class='headword {{#if lexeme.lemma.abstract }}mp{{/if}} page-title' lang='{{ language.iso }}'>{{#if lexeme.lemma.unattested }}*{{/if}}{{mot lexeme.lemma.transcription language.defaultOrthography }}</h1>

    <span class=language>
      {{~#if language.name ~}}
        <a class='link' href='/languages/{{ language.id }}'>{{mls language.name language.defaultAnalysisLanguage }}</a>
      {{~/if~}}
      {{~#if (all language.name language.autonym) }} | {{/if~}}
      {{~#if language.autonym ~}}
        <a class='link txn' href='/languages/{{ language.id }}'>{{mot language.autonym language.defaultOrthography }}</a>
      {{~/if~}}
    </span>

    <ol class='glosses numbered'>
      {{#each lexeme.senses }}
        {{#if gloss }}
          <li class='gloss tln'>{{mls gloss }}</li>
        {{else if definition }}
          <li class='gloss tln'>{{mls definition }}</li>
        {{else}}
          <li class=gloss>—</li>
        {{/if}}
      {{/each}}
    </ol>

  </header>

  <nav>
    <ul class=tabs role=tablist>
      <li role=tab class=tab><a class=tab-link id=forms-link href=#forms aria-selected=true>Forms</a></li>
      <li role=tab class=tab><a class=tab-link id=meaning-link href=#meaning>Meaning</a></li>
      <li role=tab class=tab><a class=tab-link id=metadata-link href=#metadata>Metadata</a></li>
    </ul>
  </nav>

  <section class='current panel' role=tabpanel id=forms aria-labelledby=forms-link>

    <dl class='def-list lexeme__transcriptions'>

      <dt class=label for=lemma>Lemma</dt>
      <dd>{{> MultiOrthoTranscription/MultiOrthoTranscription data=lexeme.lemma.transcription lang=language.iso attributes='id=lemma' }}</dd>

      <dt class=label for=citation-form>Citation Form</dt>
      <dd>
        {{#if lexeme.citationForm}}
          {{> MultiOrthoTranscription/MultiOrthoTranscription data=lexeme.citationForm lang=language.iso attributes='id=citation-form' }}
        {{else}}
          <span id=citation-form>—</span>
        {{/if}}
      </dd>

    </dl>

    <dl class='def-list properties'>

      <dt class=label for=morph-type>Morph Type</dt>
      <dd id=morph-type>
        {{#if lexeme.morphType }}
          {{> MultiLangString/MultiLangString data=lexeme.morphType }}
        {{else~}}
          —
        {{~/if}}
      </dd>

      <dt class=label for=slot>Slot</dt>
      <dd id=slot>
        {{#if lexeme.slot }}
          {{> MultiLangString/MultiLangString data=lexeme.slot }}
        {{else~}}
          —
        {{~/if}}
      </dd>

    </dl>

    <section class=forms-section>

      <h2 class=section-header>Base Forms <span class=summary-count>({{ lexeme.forms.length }})</span></h2>

      <ul class='bordered forms-list list'>
        {{#each lexeme.forms as |form| }}
          <li class=form>
            <details class=details open>

              <summary>
                {{> MultiOrthoTranscription/MultiOrthoTranscription data=form.transcription lang=@root.language.iso attributes='class="color-block mot form__transcription"' }}
              </summary>

              <fieldset class='def-list form-props'>

                <label class=label for=form-{{ @index }}__abstract>Abstract Form</label>

                {{#if form.abstract }}
                  <input id=form-{{ @index }}__abstract class=checkbox type=checkbox checked inert>
                {{else}}
                  <input id=form-{{ @index }}__abstract class=checkbox type=checkbox disabled inert>
                {{/if}}

                <label class=label for=form-{{ @index }}__unattested>Unattested</label>

                {{#if form.unattested }}
                  <input id=form-{{ @index }}__unattested class=checkbox type=checkbox checked inert>
                {{else}}
                  <input id=form-{{ @index }}__unattested class=checkbox type=checkbox disabled inert>
                {{/if}}

                <label class=label for=form-{{ @index }}__allomorphs>Allomorphs</label>

                {{#if form.allomorphs }}
                  <ul id=form-{{ @index }}__allomorphs>
                    {{#each form.allomorphs }}
                      <li class=allomorph>
                        {{> MultiOrthoTranscription/MultiOrthoTranscription data=transcription lang=@root.language.iso }}
                        {{#if environments }}
                          <span>⧸</span>{{!-- U+29F8 "Big Solidus" (regular solidus is the normal slash, U+002F) --}}
                          <ul>
                            {{#each environments }}
                              <li class='environment txn'>{{ this }}</li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                {{else}}
                  <span id=form-{{ @index }}__allomorphs>—</span>
                {{/if}}

                <label class='allomorphs__label label' for=form-{{ @index }}__components>Components</label>

                {{#if form.components }}
                  <ul class=cross-refs-set id=form-{{ @index }}__components>
                    {{~#each form.components ~}}
                      <li>{{> Headword }}{{#unless @last }}, {{/unless}}</li>
                    {{~/each~}}
                  </ul>
                {{else}}
                  <span id=form-{{ @index }}__components>—</span>
                {{/if}}

                <label class=label for=form-{{ @index }}__component-of>Component Of</label>

                {{#if form.componentOf }}
                  <ul class=cross-refs-set id=form-{{ @index }}__component-of>
                    {{~#each form.componentOf ~}}
                      <li>{{> Headword }}{{#unless @last }}, {{/unless}}</li>
                    {{~/each~}}
                  </ul>
                {{else}}
                  <span id=form-{{ @index }}__component-of>—</span>
                {{/if}}

                <label class=label for=form-{{ @index }}__etymology>Etymology</label>

                {{#if form.etymology }}
                  <ul class='cross-lang-refs-set etymology' id=form-{{ @index }}__etymology>
                    {{~#each form.etymology ~}}
                      <li class=etymon>{{> CrossLanguageHeadword }}</li>
                      {{~#unless @last ~}}
                        <span> → </span>{{!-- Note: The spaces here are intentional. --}}
                      {{~/unless~}}
                      </li>
                    {{~/each~}}
                  </ul>
                {{else}}
                  <span id=form-{{ @index }}__etymology>—</span>
                {{/if}}

                <label class=label for="form-{{ @index }}__reflexes">Reflexes</label>

                {{#if form.reflexes }}
                  <ul class=cross-lang-refs-set id=form-{{ @index }}__reflexes>
                    {{~#each form.reflexes ~}}
                      <li>{{> CrossLanguageHeadword }}{{#unless @last}}, {{/unless}}</li>
                    {{~/each~}}
                  </ul>
                {{else}}
                  <span id=form-{{ @index }}__reflexes>—</span>
                {{/if}}

                <label class=label for=form-{{ @index }}__references>References</label>

                {{#if form.bibliography }}
                  <div id=form-{{ @index }}__references>
                    {{> CitationsList form.bibliography }}
                    <span class=bib-links>
                      <a class='link subtle' href='/languages/{{ @root.language.id }}/lexemes/{{ @root.lexeme.id }}/forms/{{ form }}/references?view=bibliography'>View as Bibliography</a> | <a class='link subtle' href='/languages/{{ @root.language.id }}/lexemes/{{ @root.lexeme.id }}/forms/{{ form }}/references?view=table'>View as Table</a>
                    </span>
                  </div>
                {{else}}
                  <span id=form-{{ @index }}__references>—</span>
                {{/if}}

                <label class=label for=form-{{ @index }}__sources>Sources</label>

                {{#if form.sources ~}}
                  <ul class=tags-list id=form-{{ @index }}__sources>
                    {{~#each form.sources ~}}
                      {{~> Source }}
                    {{~/each~}}
                  </ul>
                {{~else~}}
                  <span id=sources>—</span>
                {{~/if}}

              </fieldset>


            </details>
          </li>
        {{/each}}
      </ul>

    </section>

  </section>

  <section class=panel role=tabpanel id=meaning aria-labelledby=meaning-link>
    <ul class='bordered list senses-list'>
      {{#each lexeme.senses as |sense| }}
        <li class=sense>Sense {{@index}}</li>
      {{/each}}
    </ul>
  </section>

  <section class=panel role=tabpanel id=metadata aria-labelledby=metadata-link>

    <fieldset class='def-list metadata-props'>

      <label class=label for=cross-references>Cross References</label>
      {{#if lexeme.crossReferences}}
        <dl class=def-list id=cross-references>
          {{#each lexeme.crossReferences as |crossRef| }}
            {{> CrossReference crossRef }}
          {{/each}}
        </dl>
      {{else}}
        <span id=cross-references>—</span>
      {{/if}}

      <label class=label for=date-created>Date Created</label>
      <output id=date-created>{{date lexeme.dateCreated }}</output>

      <label class=label for=date-modified>Date Modified</label>
      <output id=date-modified>{{date lexeme.dateModified }}</output>

      <label class=label for=language-autonym>Language Autonym</label>
      {{#if (obj language.autonym)}}
        {{> MultiOrthoTranscription/MultiOrthoTranscription data=language.autonym attributes='id=language-autonym' }}
      {{else}}
        <span id=language-autonym>—</span>
      {{/if}}

      <label class=label for=language-name>Language Name</label>
      {{> MultiLangString/MultiLangString data=language.name attributes='id=language-name' }}

      <label class=label for=lexeme-references>References</label>
      {{#if lexeme.bibliography }}
        <div id=lexeme-references>
          {{> CitationsList lexeme.bibliography }}
          <span class=bib-links>
            <a class='link subtle' href='/languages/{{ @root.language.id }}/lexemes/{{ @root.lexeme.id }}/references?view=bibliography'>View as Bibliography</a> | <a class='link subtle' href='/languages/{{ @root.language.id }}/lexemes/{{ @root.lexeme.id }}/references?view=table'>View as Table</a>
          </span>
        </div>
      {{else}}
        <span id=lexeme-references>—</span>
      {{/if}}

      <label class=label for=lexeme-sources>Sources</label>
      {{#if lexeme.sources ~}}
        <ul class=tags-list id=lexeme-sources>
          {{~#each lexeme.sources ~}}
            {{~> Source ~}}
          {{~/each~}}
        </ul>
      {{~else~}}
        <span id=lexeme-sources>—</span>
      {{~/if}}

      <label class=label for=tags>Tags</label>
      {{#if lexeme.tags}}
        <ul class=tags-list id=tags>
          {{#each lexeme.tags as |tag| }}
            <li class=tag>
              {{~#if (isNull this) ~}}
                {{ @key }}
              {{~else if (isFalse this) ~}}
                {{ @key }}: <span class=code>{{ this }}</span>
              {{~else~}}
                {{ @key }}: <span class=code>{{ this }}</span>
              {{~/if~}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span id=tags>—</span>
      {{/if}}

      <label class=label for=url>URL</label>
      <output class=box-input id=url>https://data.digitallinguistics.io/languages/{{ language.id }}/lexemes/{{ lexeme.id }}</output>

    </fieldset>

    <details class='details notes-section' {{#if lexeme.notes }}open{{/if}}>

      <summary>
        <h2 class=section-header>Notes <span class=summary-count>({{#if lexeme.notes }}{{ lexeme.notes.length }}{{else}}0{{/if}})</span></h2>
      </summary>

      <ul class=notes>
        {{#each lexeme.notes as |note| }}
          <li>{{> Note/Note note }}</li>
        {{/each}}
      </ul>

    </details>

  </section>

</main>

{{#section 'foot'}}
  <script src=/scripts/Lexeme.js async type=module></script>
{{/section}}