{{#section 'head'}}
  <link rel=stylesheet href=/styles/Lexeme.css>
{{/section}}

<main id=main class=lexeme-page>

  <header>
    <h1 class=page-title lang='{{ language.iso }}'>{{mot lexeme.lemma language.defaultOrthography }}</h1>
    <ol class='glosses numbered'>
      {{#each lexeme.senses as |sense| }}
        <li class=tln>{{mls sense.gloss }}</li>
      {{/each}}
    </ol>
  </header>

  <nav>
    <ul class=tabs role=tablist>
      <li role=tab class=tab><a class=tab-link id=form-link href=#form aria-selected=true>Form</a></li>
      <li role=tab class=tab><a class=tab-link id=meaning-link href=#meaning>Meaning</a></li>
      <li role=tab class=tab><a class=tab-link id=metadata-link href=#metadata>Metadata</a></li>
    </ul>
  </nav>

  <section class='current panel' role=tabpanel id=form aria-labelledby=form-link>

    <div class=transcriptions>

      <label class=label for=lemma>Lemma</label>
      {{> MultiOrthoTranscription/MultiOrthoTranscription txn=lexeme.lemma lang=language.iso attributes='id=lemma' }}

      <label class=label for=citation-form>Citation Form</label>
      {{#if lexeme.citationForm}}
        {{> MultiOrthoTranscription/MultiOrthoTranscription txn=lexeme.citationForm lang=language.iso attributes='id=citation-form' }}
      {{else}}
        <span id=citation-form>—</span>
      {{/if}}

    </div>

    <div class=properties>

      <dl class=def-list>

        <dt class=label for=morph-type>Morph Type:</dt>
        <dd id=morph-type>
          {{#if lexeme.morphType }}
            {{> MultiLangString/MultiLangString lexeme.morphType }}
          {{else~}}
            —
          {{~/if}}
        </dd>

        <dt class=label for=slot>Slot:</dt>
        <dd id=slot>
          {{#if lexeme.slot }}
            {{> MultiLangString/MultiLangString lexeme.slot }}
          {{else~}}
            —
          {{~/if}}
        </dd>

      </dl>

    </div>

  </section>

  <section class=panel role=tabpanel id=meaning aria-labelledby=meaning-link>
    <h1>Meaning</h1>
  </section>

  <section class=panel role=tabpanel id=metadata aria-labelledby=metadata-link>

    <fieldset class='def-list metadata-props'>

      <label class=label for=url>URL:</label>
      <output class=box-input id=url>https://data.digitallinguistics.io/languages/{{ language.id }}/lexemes/{{ lexeme.id }}</output>

      <label class=label for=date-created>Date Created:</label>
      <output id=date-created>{{date lexeme.dateCreated }}</output>

      <label class=label for=date-modified>Date Modified:</label>
      <output id=date-modified>{{date lexeme.dateModified }}</output>

      <label for=tags>Tags:</label>
      {{#if lexeme.tags}}
        <ul>
          {{#each lexeme.tags as |tag| }}
            <li class=tag>
              {{#if this includeZero=true }}
                {{ @key }}: {{ this }}
              {{else}}
                {{ @key }}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p class=tags>None.</p>
      {{/if}}

      <label class=label for=references>References:</label>
      {{#if references}}
        <div>

          <span class=help-text>Hover over a citation to see its full bibliographic entry. Click to view the page for the entry.</span>

          <ul class=references>
            {{#each references as |reference| }}
              {{!-- Keep the <li> and <a> on the same line to avoid extra whitespace in the rendered page. --}}
              <li class='citation tag' title='{{ reference.custom.bibEntry.text }}'><a href='/references/{{ reference.id }}'>{{ reference.custom.citation }}</a></li>
            {{/each}}
          </ul>

          <span class=bib-links>
            <a class='link subtle' href='/languages/{{ language.id }}/lexemes/{{ lexeme.id }}/references?view=bibliography'>View as Bibliography</a> | <a class='link subtle' href='/languages/{{ language.id }}/lexemes/{{ lexeme.id }}/references?view=table'>View as Table</a>
          </span>

        </div>
      {{else}}
        <p class=references>None.</p>
      {{/if}}

    </fieldset>

  </section>

</main>

{{#section 'foot'}}
  <script src=/scripts/Lexeme.js async type=module></script>
{{/section}}