{{!-- critical metadata --}}
<meta charset=utf-8>
<meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
<title>Oxalis | {{ title }}</title>

{{!-- metadata --}}
<meta name=author content='{{meta.author.name}}'>
<meta name=description content='{{meta.description}}'>
<meta name=keywords content='{{#each meta.keywords}}{{#if @last}}{{@this}}{{else}}{{@this}}, {{/if}}{{/each}}'>
<meta name=rating content=general>
<meta name=robots content='index,follow'>

{{!-- linked metadata --}}
<link rel=author href=https://danielhieber.info>
<link rel=license href=https://github.com/digitallinguistics/data-explorer/blob/main/LICENSE.md>

{{!-- Facebook sharing --}}
<meta property=og:description content='{{meta.description}}'>
<meta property=og:image content=https://data.digitallinguistics.io/images/social.png>
<meta property=og:image:height content=640>
<meta property=og:image:width content=1280>
<meta property=og:locale content=en_US>
<meta property=og:title content=Oxalis>
<meta property=og:type content=website>
<meta property=og:url content=https://data.digitallinguistics.io>
<meta property=og:site_name content=Oxalis>

{{!-- Twitter sharing --}}
<meta name=twitter:card content=summary>
<meta name=twitter:creator content=@digitalling>
<meta name=twitter:site content=@digitalling>
<meta name=twitter:image:alt content='oxalis flower'>

{{!-- preload critical assets --}}
<link rel=preload href=fonts/Fira/FiraSans-Regular.woff2 as=font type=font/woff2 crossorigin>
<link rel=preload href=fonts/Libertinus/LibertinusSerif-Regular.woff2 as=font type=font/woff2 crossorigin>

{{!-- critical CSS --}}
<style>{{{ criticalCSS }}}</style>

{{!-- favicon --}}
<link rel=icon href=images/favicon.svg type=image/svg+xml>
