<nav id=main-nav class=main-nav>

  <h2>Main Menu</h2>

  <ul>

    <li>
      {{#if Home}}
      <a href=# aria-current=page>Home</a>
      {{else}}
      <a href= />Home</a>
      {{/if}}
    </li>

    <li>
      {{#if Languages}}
      <a href=# aria-current=page>Languages</a>
      {{else}}
      <a href=/languages>Languages</a>
      {{/if}}
    </li>

    <li>
      {{#if Projects}}
      <a href=# aria-current=page>Projects</a>
      {{else}}
      <a href=/projects>Projects</a>
      {{/if}}
    </li>

    <li>
      {{#if Dictionaries}}
      <a href=# aria-current=page>Dictionaries</a>
      {{else}}
      <a href=/dictionaries>Dictionaries</a>
      {{/if}}
    </li>

    <li>
      {{#if About}}
      <a href=# aria-current=page>About</a>
      {{else}}
      <a href=/about>About</a>
      {{/if}}
    </li>

  </ul>

</nav>