<nav class=main-nav>

  <label for=main-nav__toggle>
    <svg aria-hidden=true><use href=#menu></svg>
    <h2>Menu</h2>
  </label>

  <input id=main-nav__toggle type=checkbox>

  <ul>

    <li {{#if Home}}class=current{{/if}}>
      <a class=nav-link {{#if Home}} href=# aria-current=page {{else}} href='/' {{/if}}>Home</a>
    </li>

    <li {{#if Languages}}class=current{{/if}}>
      <a class=nav-link {{#if Languages}} href=# aria-current=page {{else}} href=/languages {{/if}}>Languages</a>
    </li>

    <li {{#if Projects}}class=current{{/if}}>
      <a class=nav-link {{#if Projects}} href=# aria-current=page {{else}} href=/projects {{/if}}>Projects</a>
    </li>

    <li {{#if Dictionaries}}class=current{{/if}}>
      <a class=nav-link {{#if Dictionaries}} href=# aria-current=page {{else}} href=/dictionaries {{/if}}>Dictionaries</a>
    </li>

    <li {{#if About}}class=current{{/if}}>
      <a class=nav-link {{#if About}} href=# aria-current=page {{else}} href=/about {{/if}}>About</a>
    </li>

  </ul>

</nav>