{{#section 'head'}}
  <link rel=stylesheet href=/styles/Lexemes.css>
{{/section}}

<main id=main class=lexemes-page>

  <div class=main>

    <h1 class=page-title>
      {{~#if project ~}}
        {{~ project.name ~}}
      {{~ else ~}}
        {{~mls language.name language.defaultAnalysisLanguage ~}}
      {{~/if~}}
    </h1>

    <nav class=page-nav>
      <ul>
        {{#if project}}
          <li>
            <a href='/projects/{{ project.id }}'><svg aria-hidden=true><use href=#box></svg> Project</a>
          </li>
          <li>
            <a href='/projects/{{ project.id }}/languages'><svg aria-hidden=true><use href=#language></svg> Languages</a>
          </li>
          <li aria-selected=true>
            <a href='/projects/{{ project.id }}/lexemes'><svg aria-hidden=true><use href=#cards></svg> Lexicon</a>
          </li>
        {{else}}
          <li>
            <a href='/languages/{{ language.id }}'><svg aria-hidden=true><use href=#language></svg> Language</a>
          </li>
          <li aria-selected=true>
            <a href='/languages/{{ language.id }}/lexemes'><svg aria-hidden=true><use href=#cards></svg> Lexicon</a>
          </li>
          <li>
            <a href='/languages/{{ language.id }}/projects'><svg aria-hidden=true><use href=#box></svg> Projects</a>
          </li>
        {{/if}}
      </ul>
    </nav>

  </div>

  <div class=table-wrapper>
    <table class='lexemes-table table'>

      <thead>
        <tr>
          <th>Lemma</th>
          <th>Language</th>
          <th>Glosses</th>
          <th>Date Created</th>
          <th>Date Modified</th>
        </tr>
      </thead>

      <tbody>
        {{#each lexemes as |lexeme| }}
          <tr data-id={{ id }}>

            {{!-- lemma --}}
            <td class=lemma>
              <a class='link {{#if lemma.abstract }}mp{{/if}}' href='/languages/{{ language.id }}/lexemes/{{ id }}'>
                {{~#if lemma.unattested ~}}*{{~/if~}}{{~mot lemma.transcription language.defaultOrthography ~}}
              </a>
            </td>

            {{!-- language --}}
            <td class=language>
              <a class=link href='/languages/{{ language.id }}'>{{mls language.name language.defaultAnalysisLanguage }}</a>
            </td>

            {{!-- glosses --}}
            <td class=glosses>
              <ol class=numbered>
                {{~#each senses as |sense| ~}}
                  <li>
                    {{~#if sense.gloss ~}}
                      {{~mls sense.gloss @root.language.defaultAnalysisLanguage ~}}
                    {{~else~}}
                      —
                    {{~/if~}}
                  </li>
                {{~/each~}}
              </ol>
            </td>

            {{!-- date created --}}
            <td class=date-created>{{date dateCreated }}</td>

            {{!-- date modified --}}
            <td class=date-modified>{{date dateModified }}</td>

          </tr>
        {{/each}}
      </tbody>

    </table>
  </div>

</main>