<table class='lexemes-table table'>

  <caption class=visually-hidden>Lexemes: {{ project.name }}</caption>

  <thead>
    <tr>
      <th>Language</th>
      <th>Lemma</th>
      <th>Glosses</th>
      <th>Date Created</th>
      <th>Date Modified</th>
    </tr>
  </thead>

  <tbody>
    {{#each lexemes as |lexeme|}}
      <tr>

        {{!-- language --}}
        <td>
          <a class=link href='/languages/{{ language.id }}'>{{mls language.name }}</a>
        </td>

        {{!-- lemma --}}
        <td class=lemma>
          <a class=link href='/lexemes/{{ id }}'>{{txn lemma ../project.defaultOrthography }}</a>
        </td>

        {{!-- glosses --}}
        <td>
          <ol class=numbered>
            {{#each senses as |sense|}}
              {{#if sense.gloss}}
                <li>{{ sense.gloss }}</li>
              {{/if}}
            {{/each}}
          </ol>
        </td>

        {{!-- date created --}}
        <td class=date-created>{{date dateCreated }}</td>

        {{!-- date modified --}}
        <td class=date-modified>{{date dateModified }}</td>

      </tr>
    {{/each}}
  </tbody>

</table>