{{#section 'head'}}
  <link rel=stylesheet href=/styles/Languages.css>
{{/section}}

<main id=main class=languages-page>

  <div class=main>

    <h1 class=page-title>
      {{~#if project ~}}
        {{~mls project.name project.defaultAnalysisLanguage ~}}
      {{~ else ~}}
        Languages
      {{~/if~}}
    </h1>

    {{#if project }}
      <div>
        <nav class=page-nav>
          <ul>
          <li>
            <a href='/projects/{{ project.id }}'><svg aria-hidden=true><use href=#box></svg> Project</a>
          </li>
          <li aria-selected=true>
            <a href='/projects/{{ project.id }}/languages'><svg aria-hidden=true><use href=#language></svg> Languages</a>
          </li>
          <li>
            <a href='/projects/{{ project.id }}/lexemes'><svg aria-hidden=true><use href=#cards></svg> Lexicon</a>
          </li>
          </ul>
        </nav>
      </div>
    {{/if}}

  </div>

  <div class=table-wrapper>
    {{> LanguagesTable/LanguagesTable }}
  </div>

</main>