<section class=language-details>

  <header class=names>

    <label class=sci-name-label>Scientific Name</label>
    {{> MultiLangString/MultiLangString name }}

    <label>Autonym</label>
    {{> Transcription/Transcription txn=autonym lang=iso }}

  </header>

  <div class=metadata>

    <dl class=def-list>

      <dt>Date Created:</dt>
      <dd>{{date dateCreated }}</dd>

      <dt>Date Modified:</dt>
      <dd>{{date dateModified }}</dd>

    </dl>

  </div>

  <div class=codes>

    <dl class=def-list>

      <dt>Glottocode:</dt>
      <dd>{{ glottocode }}</dd>

      <dt>ISO 639-3 Code:</dt>
      <dd>{{ iso }}</dd>

      <dt>Abbreviation:</dt>
      <dd>{{ abbreviation }}</dd>

    </dl>

  </div>

  <article class=description>
    <h3>Description</h3>
    <div class=md>
      {{{ description.html }}}
    </div>
  </article>

  <section class=notes-container>
    {{> Notes/Notes notes }}
  </section>

</section>