<section class=project-details>

  <header>

    <h1 class=page-title>{{ project.name }}</h1>

    <div class=project-url-field>
      <label class=label for=project-url>Project URL</label>
      <input id=project-url readonly spellcheck=false type=url value='https://data.digitallinguistics.io/projects/{{ project.id }}'>
    </div>

  </header>

  <h2>Statistics</h2>

  <dl>

    <dt># of languages</dt>
    <dd>{{ numLanguages }}</dd>

    <dt># of lexemes</dt>
    <dd>{{ numLexemes }}</dd>

    <dt># of collaborators</dt>
    <dd>{{ numCollaborators }}</dd>

  </dl>

  <h2>Readme</h2>

  <div>{{{ project.readme.html }}}</div>

  <h2>Access Conditions</h2>

  <div>{{{ project.access.note.html }}}</div>

  <h2>Metadata</h2>

  <dl>

    <dt>Date Created</dt>
    <dd>{{date project.dateCreated }}</dd>

    <dt>Date Modified</dt>
    <dd>{{date project.dateModified }}</dd>

  </dl>

</section>