{{#section 'head'}}
  <link rel=stylesheet href=/styles/Project.css>
{{/section}}

<main id=main class=project-page>
  {{#with project }}

  <h1 class=page-title>{{ name }}</h1>

  <nav class=page-nav>
    <ul>
      <li aria-selected=true>
        <a href='/projects/{{ id }}'><svg aria-hidden=true><use href=#box></svg> Project</a>
      </li>
      <li>
        <a href='/projects/{{ id }}/languages'><svg aria-hidden=true><use href=#language></svg> Languages</a>
      </li>
      <li>
        <a href='/projects/{{ id }}/lexemes'><svg aria-hidden=true><use href=#cards></svg> Lexicon</a>
      </li>
    </ul>
  </nav>

  <section class=statistics-section>

    <h2 class=section-header>Statistics</h2>

    <dl class='color-block def-list statistics'>

      <dt class=label># of languages</dt>
      <dd><output>{{number @root.numLanguages }}</output></dd>

      <dt class=label># of lexemes</dt>
      <dd><output>{{number @root.numLexemes }}</output></dd>

      <dt class=label># of collaborators</dt>
      <dd><output>{{number @root.numCollaborators }}</output></dd>

    </dl>

  </section>

  <section class=readme-section>

    <h2 class=section-header>Readme</h2>

    <div class='color-block md readme'>
      {{#if readme.html }}
        {{{ readme.html }}}
      {{else}}
        [No readme provided.]
      {{/if}}
    </div>

  </section>

  <section class=access-section>

    <h2 class=section-header>Access Conditions</h2>

    <article class='access color-block md'>
      {{#if access.note.html }}
        {{{ access.note.html }}}
      {{else}}
        [No access conditions provided.]
      {{/if}}
    </article>

  </section>

  <section class=metadata-section>

    <h2 class=section-header>Metadata</h2>

    <fieldset class='color-block def-list metadata'>

      <label class=label for=url>URL:</label>
      <output class=box-input id=url>https://data.digitallinguistics.io/projects/{{ id }}</output>

      <label class=label for=date-created>Date Created:</label>
      <output id=date-created>{{#if dateCreated }}{{date dateCreated }}{{else}}—{{/if}}</output>

      <label class=label for=date-modified>Date Modified:</label>
      <output id=date-modified>{{#if dateModified }}{{date dateModified }}{{else}}—{{/if}}</output>

    </fieldset>

  </section>

  {{/with}}
</main>