{{#section 'head'}}
  <link rel=stylesheet href=/styles/Project.css>
{{/section}}

<main id=main class=project-page>

  <h1 class=page-title>{{ project.name }}</h1>

  <section class=statistics-section>

    <h2 class=section-header>Statistics</h2>

    <dl class='color-block def-list statistics'>

      <dt class=label># of languages</dt>
      <dd>{{number numLanguages }}</dd>

      <dt class=label># of lexemes</dt>
      <dd>{{number numLexemes }}</dd>

      <dt class=label># of collaborators</dt>
      <dd>{{number numCollaborators }}</dd>

    </dl>

  </section>

  <section class=readme-section>

    <h2 class=section-header>Readme</h2>

    <div class='color-block md readme'>
      {{#if project.readme.html }}
        {{{ project.readme.html }}}
      {{else}}
        [No readme provided.]
      {{/if}}
    </div>

  </section>

  <section class=access-section>

    <h2 class=section-header>Access Conditions</h2>

    <div class='access color-block md'>
      {{#if project.access.note.html }}
        {{{ project.access.note.html }}}
      {{else}}
        [No access conditions provided.]
      {{/if}}
    </div>

  </section>

  <section class=metadata-section>

    <h2 class=section-header>Metadata</h2>

    <fieldset class='color-block def-list metadata'>

      <label class=label for=url>URL:</label>
      <output class=box-input id=url>https://data.digitallinguistics.io/projects/{{ project.id }}</output>

      <label class=label for=date-created>Date Created:</label>
      <output id=date-created>{{date project.dateCreated }}</output>

      <label class=label for=date-modified>Date Modified:</label>
      <output id=date-modified>{{date project.dateModified }}</output>

    </fieldset>

  </section>

  <section class=languages-section>

    <h2 class='languages-section__header section-header'>Languages</h2>

    <div class=table-wrapper>
      {{> LanguagesTable/LanguagesTable }}
    </div>

  </section>

</main>